<h3>User Submissions</h3>

<table width="100%">
  <tr>
    <th>Submission</th>
    <th><%= @turkee_task.allow_voting? ? "# Votes" : "" %></th>
  </tr>

  <% @iterations.each do |iteration| %>
      <tr>
        <td>
            <%=  image_tag(iteration.amazon_image_urls.first.to_s, :align => 'left', :hspace => 20, :vspace => 20) unless iteration.amazon_image_urls.blank? %>

            <%=
              auto_link(iteration.value, :html => { :target => '_blank' }) do |text|
                simple_format text
              end
            %>
        </td>
        <td>
          <%= iteration.iteration_votes.count if @turkee_task.allow_voting? %>
        </td>
      </tr>
  <% end %>
</table>
